@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <!-- <title>Form Submission</title> THis tag is not working -->
    <style>
        input {
            display:block;
            margin-bottom:20px;
        }

        body {
            margin:auto;
            margin-top:20px;
        }

        span {
            display:block;
        }

    </style>
</head>
<body>
@using form_submission.Models
@model User 
    <form asp-action="Create" asp-controller="Home" method="post">
        <span asp-validation-for="FirstName"></span>
        <label>First Name</label>
        <input asp-for="FirstName">
        <span asp-validation-for="LastName"></span>
        <label>Last Name</label>
        <input asp-for="LastName">
        <span asp-validation-for="Age"></span>
        <label>Age</label>
        <input asp-for="Age">
        <span asp-validation-for="EmailAddress"></span>
        <label>Email Address</label>
        <input asp-for="EmailAddress">
        <span asp-validation-for="Password"></span>
        <label>Password</label>
        <input asp-for="Password">
        
        <input value="Add User" type="submit">
    </form>


</body>
</html>