<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo League - Ninjas</title>
    <style>
        td {
            border:1px solid black;
            width:200px;
            text-align:center;
        }
    </style>
</head>
<body>
<h1>Welcome</h1>

       <p>Dojo Name: @ViewBag.Dojo.name </p>
       <p> Dojo Location: @ViewBag.Dojo.location </p>
       <p> Dojo Description: @ViewBag.Dojo.description </p>

       
       
       
       <h1> Current Members</h1>
       
       <table>
            <tr>
                <td>Ninja</td>
                <td>Action</td>
            </tr>
       </table>
</body>
</html>